@media (max-width: 430px) {
  body {
    padding: 0 20px;
  }
  .pedido {
    min-width: 300px;
    min-height: 200px;
  }
  .pedido h1 {
    font-size: 30px;
  }
  .botoes button {
    min-width: 35%;
    height: 50px;
  }
  .botoes button:nth-child(2) {
    min-width: 35%;
    font-size: 14px;
  }

  /* section do "sim" */

  .aceitado {
    width: 350px;
  }
  .aceitado p {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  body {
    padding: 0 20px;
  }
  .pedido {
    min-width: 350px;
  }
  .pedido h1 {
    font-size: 25px;
  }
  .botoes button {
   font-size: 14px;
 }
  .botoes button:nth-child(2) {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .botoes button:nth-child(2) {
    font-size: 12px;
  }
}
